<div id="<%= dom_id alumno %>">
  <p>
    <strong>Codigo:</strong>
    <%= alumno.codigo %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= alumno.nombre %>
  </p>

  <p>
    <strong>Edad:</strong>
    <%= alumno.edad %>
  </p>

  <p>
    <strong>Facultad:</strong>
    <%= alumno.facultad.nombre %>
  </p>

</div>
